<div class="hero-form-card">
    <h2>Замовити таксі</h2>
    <div class="dropdown">
        <button class="dropbtn" type="button">Забрати зараз ▽</button>
        <div class="dropdown-content">
            <button class="dropdown-item" type="button">Забрати зараз</button>
            <button class="dropdown-item" type="button">Забрати пізніше</button>
        </div>
    </div>
    <input type="text" class="textfield" placeholder="Точка відправлення">
    <input type="text" class="textfield" placeholder="Куди поїхати">
    <button class="square_button">Переглянути ціни</button>
</div>